//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^https://fabienlefranc.github.io/La-chouette-agence/[nc]
RewriteRule ^(.*)$ http://www.https://fabienlefranc.github.io/La-chouette-agence//$1 [r=301,nc]